<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit user</h1>
<form th:action="@{/update/{id}(id=${user.id})}"
      th:object="${user}"
      th:method="POST">
    <label for="name">ID</label>
    <input type="text" disabled th:field="*{id}" id="name" placeholder="Name">
    <label for="name">First Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <label for="name">Last Name</label>
    <input type="text" th:field="*{lastName}" id="lastName" placeholder="LastName">
    <label for="name">Age</label>
    <input type="number" th:field="*{age}" id="age" placeholder="Age">
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email" placeholder="Email">
    <label for="email">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">
    <input type="submit" value="Update User">
</form>
</form>
</body>
</html>